/*---------- base ---------*/
*{padding:0px;margin:0px;}
body{font:12px Verdana,Arial,Tahoma;font-family: "å¾®è½¯é›…é»‘";background: #f7f7f7;}
img{border:none;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:none;}
ul{list-style:none;}
input,select,button{font:12px Verdana,Arial,Tahoma;vertical-align:middle;}
.clear{clear: both;}
/* -------------------------------------------------------- */
/* å¤´éƒ¨å¼€å§‹ */
.header{height: 85px;width: 1100px;margin: 0 auto;}
.header-box{background: #fff;}
.header .logo{width: 390px;float: left;height: 55px;margin-top: 30px;}
.header .tel{width: 155px;float: right;height: 55px;margin-top: 30px;}
.x{width: 100%;height: 1px;background: #e1e1e1;}
/* å¤´éƒ¨ç»“æŸ */
/* å¯¼èˆªå¼€å§‹ */
.nav{width: 1100px;margin: 0 auto;}
.nav ul li{float: left;padding-left: 20px;padding-right: 20px;height: 40px;line-height: 40px;}
.nav ul li a{display: block;font-size: 14px;color: #232323;}
.nav ul .first{padding: 0 79px;background: #d12323;}
.nav ul .first a{display: block;font-size: 18px;color: #fff;font-weight: bolder;}
/* å¯¼èˆªç»“æŸ */
/* bannerå¼€å§‹ */
.banner_bg{background-image: url(../images/banner_bg.png);background-repeat:repeat;background-position:center 0;}
.banner{height: 528px;width: 1100px;margin: 0 auto;position: relative;}
.banner .tab{width: 230px;height: 528px;background: #000000;opacity: 0.7;}
.banner .tab ul li{height: 47px;line-height: 47px;padding-left: 47px;border-bottom: 1px solid rgba(255,255,255,.2);margin: 0 5px;}
.banner .tab ul li a{color: #fff;display: block;}
.banner .tab ul .tab_li_1{background-image: url(../images/tab_01.png);}
.banner .tab ul .tab_li_2{background-image: url(../images/tab_02.png);}
.banner .tab ul .tab_li_3{background-image: url(../images/tab_03.png);}
.banner .tab ul .tab_li_4{background-image: url(../images/tab_04.png);}
.banner .tab ul .tab_li_5{background-image: url(../images/tab_05.png);}
.banner .tab ul .tab_li_6{background-image: url(../images/tab_06.png);}
.banner .ban_img{position: absolute;left:230px;top: 88px;}
/* bannerç»“æŸ */
/* è­¦å‘Šå¼€å§‹ */
.trans_bg{width: 100%;background: #b51e1e;}
.trans_bg .trans{width: 950px;height:120px;line-height: 120px;font-size: 24px;font-weight: bold;color: #fff;margin: 0 auto;}
.trans_bg .trans img{float: left;display: block;}
/* è­¦å‘Šç»“æŸ */
/* ä¸‰å¤§æ–¹å¼å¼€å§‹ */
.direc{width:950px;margin: 0 auto;padding-top:70px;background: url(../images/map_01.png);}
.direc .p1{font-size:36px;font-weight: bold;}
.direc .p2{font-size:48px;font-weight: bold;color: #b51e1e;}
.direc .p3{font-size: 14px;line-height: 20px;margin-top: 65px;}
.direc .p4{font-size: 12px;line-height: 20px;margin-top: 30px;margin-bottom: 135px;}
.direc ul{display: table;margin: 0 auto;margin-bottom: 70px;}
.direc ul li{width: 160px;height: 30px;line-height: 30px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;text-align: center;float: left;margin-left: 25px;margin-right: 25px;}
.direc ul li a{color: #fff;display: block;}
.direc ul .c_1{background: #b51e1e;}
.direc ul .c_2{background: #313131;}
.direc ul .c_1:hover{background:#bf2121 }
.direc ul .c_2:hover{background: #404040;}
/* ä¸‰å¤§æ–¹å¼ç»“æŸ */
/* åœ¨çº¿æµ‹è¯„å¼€å§‹ */
.zc_bg{widows: 100%;height: auto;background: url(../images/evalu_01.png);background-repeat:no-repeat;background-position:center 0;}
.zc_box{width: 790px;height: 661px;margin: 0px auto;background: url(../images/zc_cp_19.png) no-repeat;background-position:0px 50px;padding-top: 50px;}
.zc_box .left{width: 390px;height: 661px;float: left;}
.zc_box .left .new{width: 300px;height: 400px;margin-top: 151px;margin-left:90px;}
.zc_box .left .new .p1{font-size: 20px;color: #282726;}
.zc_box .left .new .p2{font-size: 20px;color: #282726;}
.zc_box .left .new .p2 span{color: #34a7d2;}
.zc_box .right{width: 400px;height: 661px;float: right;}
.zc_box .right .zc_cn{width: 400px;height: 400px;margin-top: 165px;}
/* åœ¨çº¿æµ‹è¯„ç»“æŸ */
/* åŠ åˆ†å·¥ç§å¼€å§‹ */
.rec_box{ width:100%; height:900px; background-image:url(../images/bg.png);}
.rec{width: 1200px;height: 900px;margin: 0 auto;text-align: center;}
.rec .p1{font-size: 48px;color: #151515;font-weight: bold;padding-top: 75px;}
.rec .p1 span{color: #ce1010;}
.rec img{display: block;margin:0 auto;margin-bottom: 155px;}
.rec .rec_box{height: 490px;width: 370px;float: left;position: relative;margin-left: 15px;margin-right: 15px;
-webkit-box-shadow: #2b2b2b 0px 0px 10px;-moz-box-shadow: #2b2b2b 0px 0px 10px;box-shadow: #2b2b2b 0px 0px 10px;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.rec .rec_box_1{background: #ff6b6b; }
.rec .rec_box_2{background: #00b596;}
.rec .rec_box_3{background: #ffb41b;}
.rec .rec_box .rec_p{position: absolute;top: -105px;left: 80px;}
.rec .rec_box .top ul{padding-top: 115px;margin-left: 13px}
.rec .rec_box .top ul li{font-size:20px;float: left;width: 140px;height: 35px;line-height:35px; margin-left: 15px;margin-right: 15px;border:1px solid #fff;color: #fff;margin-bottom: 10px;
-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.rec .rec_box .word{width: 314px;margin: 0 auto;color:#fff;font-size: 14px;line-height: 28px;text-align: left;}
.rec .rec_box .word span{font-weight: 600;}
.rec .rec_box .word_x{position: absolute;bottom: 70px;left: 35px;}
.rec .rec_box .word_x img{margin: 0;}
.rec .rec_box .btn_box{width: 274px;height: 38px;position: absolute;bottom: 20px;left: 48px;}
.rec .rec_box .btn_box .btn{width: 127px;height: 36px;background: #ffff00;text-align: center;line-height: 36px;
	-webkit-box-shadow: #adad06 0px 2px 0px;-moz-box-shadow: #adad06 0px 2px 0px;box-shadow: #adad06 0px 2px 0px;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.rec .rec_box .btn_box .btn:hover{background: #e8e800;}
.rec .rec_box .btn_box .btn_left{float: left;}
.rec .rec_box .btn_box .btn_right{float: right;}
.rec .rec_box .btn_box a{color: #000;font-size: 18px;display: block;}
.rec .tel{font-size: 20px;height: 70px;line-height: 70px;}
/* åŠ åˆ†å·¥ç§ç»“æŸ */
/* è¡¥è´´å¼€å§‹ */
.sub{width: 1200px;margin: 0 auto;text-align: center;}
.sub .p1{font-size: 48px;font-weight: bold;}
.sub .p2{font-size: 24px;color: #ce1010;margin-bottom: 55px;}
.sub .sub_box{width: 1180px;height: 445px;margin: 0 auto;margin-bottom: 40px;}
.sub .sub_left{float: left;width: 380px;height: 445px;background: url(../images/sub_01.png);
-webkit-box-shadow: #d5d5d5 0px 0px 10px;-moz-box-shadow: #d5d5d5 0px 0px 10px;box-shadow: #d5d5d5 0px 0px 10px;}
.sub .sub_left .word{padding-left: 125px;text-align: left;padding-right: 15px;}
.sub .sub_left .word .p1{height: 95px;line-height: 95px;font-size: 30px;color: #ea1721;}
.sub .sub_left .word .p2{font-size: 24px;color: #151515;margin-top: 15px;margin-bottom: 10px;}
.sub .sub_left .word .p2_2{margin-top: 30px;}
.sub .sub_left .word .p3{font-size: 14px;color: #151515;margin-bottom: 10px;}
.sub .sub_left .word .p4 a{font-size: 14px;color: #ea1721;}
.sub .sub_left .word .p4 a:hover{color: #b6060f;}
.sub .sub_right{float: right;width: 780px;height: 445px;}
.sub .sub_right ul li{width: 380px;height: 215px;
-webkit-box-shadow: #d5d5d5 0px 0px 10px;-moz-box-shadow: #d5d5d5 0px 0px 10px;box-shadow: #d5d5d5 0px 0px 10px;float: left;}
.sub .sub_right ul .li_1{margin-right: 15px;margin-bottom: 15px;background: url(../images/sub_02.png);}
.sub .sub_right ul .li_2{margin-bottom: 15px;background: url(../images/sub_03.png);}
.sub .sub_right ul .li_3{margin-right: 15px;background: url(../images/sub_04.png);}
.sub .sub_right ul .li_4{background: url(../images/sub_05.png);}
.sub .sub_right ul li .word{padding-left: 125px;text-align: left;}
.sub .sub_right ul li .word .p1{font-size:24px;color:#151515;margin-top: 30px;}
.sub .sub_right ul li .word .p2{font-size:14px;color:#151515;margin-bottom: 40px;margin-top: 10px;}
.sub .sub_right ul li .word .p3 a{font-size: 14px;color: #ea1721;}
.sub .sub_right ul li .word .p3 a:hover{color: #b6060f;}
.sub .txt_1{font-size:18px;color:#ea1721;}
.sub .txt_2{font-size:30px;color:#1a1a1a;font-weight: bold;margin-top: 10px;margin-bottom: 20px;}
.sub .txt_2 span{color: #0099CC;}
/* è¡¥è´´ç»“æŸ */
/* ä¼ä¸šåˆä½œå¼€å§‹ */
.cooper{background: #b51e1e;text-align: center;color: #fff;}
.cooper .img{margin-top: 40px; padding-bottom: 70px;}
.cooper .p1{font-size: 28px;padding-top: 60px;}
.cooper .p2{font-size: 42px;font-weight: bold;margin:20px 0; }
.cooper .p3{font-size: 18px;}
/* ä¼ä¸šåˆä½œç»“æŸ */
/* å¼€é”å¥‡è¿¹å¼€å§‹*/
.mira{width: 100%;padding: 111px 0;background: url(../images/mira_01.png);background-repeat:repeat;background-position:center 0;}
.mira .mira_box{width: 627px;height: 320px;text-align: center;margin: 0 auto;background: #ffcc00;}
.mira .mira_box .p1{font-size: 42px;font-weight: bold;padding-top: 45px;padding-bottom: 15px;}
.mira .mira_box .p2{font-size: 18px;line-height: 20px;}
.mira .mira_box .p3{font-size: 22px;padding-top: 20px;padding-bottom: 30px;}
.mira .mira_box .btn{width: 202px;height: 34px;line-height: 34px;-moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px;margin: 0 auto;}
.mira .mira_box .btn a{display: block;color: #ffcc00;background: #000;-moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px;}
.mira .mira_box .btn a:hover{color: #fff;background: #171717;}
/* å¼€é”å¥‡è¿¹ç»“æŸ */
/* ä½å®¿å¼€å§‹ */
.board_bg{background: #FF6E26;margin-bottom: 50px;}
.board_bg .p1{font-size: 36px;font-weight: bolder;color: #fff;text-align: center;padding-top: 50px;padding-bottom: 40px}
.board_bg .board{width: 884px;height: 360px;margin: 0 auto;padding-bottom: 50px;}
/* ä½å®¿ç»“æŸ */
/* åœ°å€å¼€å§‹ */
#tabbox{ width:1100px; overflow:hidden; margin:0 auto;height:370px;}
#tabbox .title{ font-size:40px; text-align:center; font-family:å¾®è½¯é›…é»‘;border-bottom: solid 4px #ff7800; padding-bottom:20px; margin-bottom:30px;}
#tabbox .title span{ color:#ff7800; }
#tabbox .tab_con{ display:none;}
#tabbox .tabs{height: 52px;width: 100%;}
#tabbox .tabs li{height:42px;line-height:42px;float:left;border-left:none;margin-bottom: -1px;background: #ffd800;overflow: hidden;position: relative;}
#tabbox .tabs li a {display: block;padding: 0 72px;border: 1px solid #bda20a;outline: none;color: #000;font-size: 16px;}
#tabbox .tabs li a:hover {background: #ff7800; color:#fff;}    
#tabbox .tabs .thistab,.tabs .thistab a:hover{background: #ff7800;border-bottom: 1px solid #fff; color:#fff;}
#tabbox .tab_conbox .tab_con {font-size:14px; line-height:175%; overflow:hidden;}
#tabbox .tab_conbox .tab_con img{ display:block; float:left;}
#tabbox .tab_conbox .tab_con a{ display:block; font-family:å¾®è½¯é›…é»‘; margin-left:465px;color: #000;}
#tabbox .tab_conbox .tab_con_B{ font-size:16px;}
#tabbox .tab_conbox .tab_con_C{ cursor:pointer;font-size:16px; background-color:#ff7800; width:220px; height:35px; border-radius:8px; line-height:35px; text-align:center; color:#000; margin-top:70px;}
#tabbox .tab_conbox .tab_con_C:hover{ background-color:#ffd800;}
/* åœ°å€ç»“æŸ */
/* footå¼€å§‹*/
.foot{text-align: center;width: 100%;background:#333333;margin-top: 30px;}
/* footç»“æŸ*/
/* åº•éƒ¨å›ºå®šæ³¨å†Œæ¡† */
.foot_btain_bg{width: 100%;height: 80px;background: rgba(0,0,0,.8);position: fixed;bottom:0;z-index: 800;font-family: "å¾®è½¯é›…é»‘";}
.foot_btain_bg .foot_btain{width: 897px;height: 80px;margin: 0 auto;}
.foot_btain_bg .foot_btain .btain_left{height: 80px;float: left;text-align: center;}
.foot_btain_bg .foot_btain .btain_left .txt_1{color: #FFDF00;font-size: 20px;margin-top: 10px;font-weight: bold;text-align: left;}
.foot_btain_bg .foot_btain .btain_left .txt_2{color: #fff;font-size: 30px;text-align: left;font-weight: bold;}
.foot_btain_bg .foot_btain .btain_left .txt_2 span{color: #FFDF00;}
.foot_btain_bg .foot_btain .btain_left .img_left{width: 50px;height: 100px;float: left;}
.foot_btain_bg .foot_btain .btain_left .img_left img{display: block;}
.foot_btain_bg .foot_btain .btain_left .img_right{width: 145px;height: 90px;float: left;}
.foot_btain_bg .foot_btain .btain_right{width:655px;height: 80px;float: left;}
.foot_btain_bg .foot_btain .btain_right .foot_p1{color: #fff;padding-left: 88px;font-size: 14px;margin-top: 5px;}
.foot_btain_bg .foot_btain .btain_right .looyu_foot{margin-top: 14px;}
.foot_btain_bg .gnm{position: absolute;right: 30px;}
.foot_btain_bg .gnm a{font-size: 24px;color: #fff;}
